.button{
   height: 70px;
   width: 90px;
   
}
#body
{
   margin-left: 250px;
   margin-top: 30px;
   height: auto;

}
.wi
{
    background-color:white;
    /* height: 50px;
    width: 70px; */
    /* background: transparent; */
}
.bl
{
    background-color: red;
    /* height: 50px;
    width: 70px; */
    /* background: transparent; */
}
body{
    background-color:black;
    height: auto;
}
.image
{
    height: 30px;
    width: 60px;
    position:absolute;
}

.dot
{
    height: 10px;
    width: 10px;
    display: none;
   
}
.back
{
    height: 10px;
    width: 10px;
}